{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
  <div class="card bg-light text-dark rounded shadow">
    <div class="card-header bg-secondary text-white">
      <h4>{{ phone.make }}</h4>
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">Model</th>
            <td>{{ phone.serial }}</td>
          </tr>
          <tr>
            <th scope="row">Color</th>
            <td>{{ phone.color }}</td>
          </tr>
          <tr>
            <th scope="row">Condition</th>
            <td>{{ phone.condition }}</td>
          </tr>
          <tr>
            <th scope="row">Bought At</th>
            <td>{{ phone.bought_at }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
