{% extends 'base.html' %}
{% block content %}

<div class="jumbotron text-center">
  <h1>Welcome to ThePhoneShop</h1>
  <p>Find your new device and spend a lot of money with us!</p> 
</div>
  
<div id="hero-section-container" class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>"Slightly Sketchy" Phones</h3>
      <p class="text-muted">Welcome to our delightfully dubious phone shop, where we've mastered the art of creative storytelling! Our phones come with a dash of mystery and a sprinkle of intrigue. We may stretch the truth a bit, but hey, we're just adding a touch of excitement to your phone-buying experience!</p>
      <p class="text-muted">Our friendly staff is well-versed in the art of trickery and sleight of hand. We'll have you laughing, scratching your head, and questioning reality as we present our extraordinary selection of "unique" devices. Remember, our phones have a secret superpower: they make people smile!</p>
      <!-- <img src="3310b.jpg" alt="nokia" class="img-fluid"> -->
    </div>
    <div class="col-sm-4">
      <h3>The Risky Phone Bazaar</h3>
      <p class="text-muted">Our wacky world of phones where every purchase is a thrilling adventure! We proudly present the "No Guarantee Collection" - a treasure trove of unpredictable devices. We're so confident in their unpredictable nature that we don't even bother with warranties!</p>
      <p class="text-muted">Step right up and embrace the excitement of uncertainty! Will your phone mysteriously gain a new feature overnight or spontaneously transform into a retro pager? Who knows! It's like playing Russian Roulette with gadgets, and we promise it'll keep you on the edge of your seat.</p>
      <!-- <img src="3310b.jpg" alt="nokia" class="img-fluid"> -->
    </div>
    <div class="col-sm-4">
      <h3>The Quirky Phone Circus</h3>
      <p class="text-muted">Step right up and prepare to be amazed at our phone extravaganza! We're not your ordinary phone shop—we're a full-fledged circus of mobile madness. Get ready for jaw-dropping surprises and mind-boggling enchantment as we present our collection of eccentric and utterly unpredictable devices.</p>
      <p class="text-muted">Our phones are like mischievous clowns, always ready to pull a prank or spin a wild tale. We don't believe in guarantees because, hey, life is too short for predictability! But fear not, our circus performers (aka salespeople) will entertain you with their wit and charm as they guide you through this thrilling, rollercoaster ride of a phone shopping experience.</p>
      <!-- <img src="3310b.jpg" alt="nokia" class="img-fluid"> -->
    </div>
  
  </div>
</div>
    



{% endblock %}