body {
    padding-top: 60px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(255, 255, 240)
  }
  @media (max-width: 979px) {
    body {
      padding-top: 0px;
    }
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }



/* All this under is for the add phone form */
.addphone {
  padding-top: 70px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.btn {
  width: 100%;
  padding: 10px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}